<div class="wrapper">

  <h2>Вас приветсвует приложение о фильмах</h2><br>
  <mat-tab-group>
    <mat-tab label="Информация о портале">База данных о сериалах и кино, пользователи которой всегда в курсе ключевых
      событий индустрии. Приложение сервиса позволяет смотреть трейлеры, читать новости и статьи о будущих или вышедших кинокартинах и телешоу в удобном мобильном формате. Пользователи могут просматривать списки актёров, задействованных в каждом проекте, и краткие описания сюжетов. </mat-tab>
    <mat-tab label="Дополнительная информация">Программа помогает вести учёт просмотренных сериалов и фильмов и
      открывать интересные новинки. В пользовательском профиле отображаются списки, в которые можно добавлять, к примеру, ожидаемые и любимые проекты. А персональные рекомендации, график кинопремьер и списки на основе рейтингов и жанров подсказывают, что смотреть дальше. </mat-tab>
  </mat-tab-group>

</div>

