<div class="films-list-wrapper">
  <mat-card class="toolbar-card">
    <mat-card-content>
      <mat-toolbar class="films-toolbar">
        <span>В избранное добавлено: {{favorite}}</span>
        <span class="spacer"></span>
        <mat-form-field class="search-form-field">
          <input matInput #query type="text" placeholder="Поиск..." (keyup)="filter(query.value)"/>
          <button mat-button *ngIf="query.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="query.value=''; filter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <mat-form-field>
            <mat-select [(value)]="selected" (selectionChange)="doSorting()" placeholder="Сортировка">
              <mat-option *ngFor="let sort of sorting" [value]="sort.value">
                {{ sort.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>
  <div class="films-grid" *ngIf="Films.length; else noFilms">
    <app-film-items [data]="film" *ngFor="let film of Films" (favor)="onAddToFavor($event, film)"></app-film-items>
    <div class="row">
      <button mat-raised-button color="primary" (click)="loadFilms()"
              [disabled]="!((filteredFilms.length - filmsOnPage)>0)">
        Показать еще
      </button>
    </div>
  </div>
  <ng-template #noFilms>
    <div class="row">
      <p>По запросу "{{ query.value }}" ничего не найдено...</p>
    </div>
  </ng-template>
</div>
